* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #205295;
}
/* h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  color: #ece8dd;
} */

.navigation {
  background-color: var(--main-color);
  color: #ece8dd;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
}
.navigation h1 {
  width: fit-content;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  cursor: pointer;
}
li::marker {
  content: "";
}
a {
  color: #ece8dd;
  text-decoration: none;
}
