* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-color: #205295;
}

.navigation {
  background-color: var(--main-color);
  color: #ece8dd;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
}
.navigation h1 {
  width: fit-content;
  white-space: nowrap;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.navigation ul li {
  white-space: nowrap;
  padding: 10px 10px;
}
li::marker {
  content: "";
}
a {
  color: #ece8dd;
  text-decoration: none;
}
